body {
  background-color: #ccc;
  padding: 0px;
}
img {
  width: 20px;
  height: 20px;
}
.icon-content {
  width: 70px;
  padding: 10px 5px;
  margin: 5px 5px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
.icon-unregister .icon-name {
  color: red;
}
.icon-name {
  margin-top: 10px;
  color: black;
}
.icon-content:hover,
.icon-content--active {
  border: 1px solid #2468f2;
  border-radius: 4px;
}
.icon-content:hover .icon-name,
.icon-content--active .icon-name {
  color: #2468f2;
}
#toast {
  position: fixed;
  top: -40px;
  left: 50%;
  background: #fff;
  color: #000;
  padding: 5px 20px;
  box-shadow: 0 3px 10px 0px #cecece;
  transform: translateX(-50%);
  border-radius: 5px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
}
#toast svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

#contextMenu {
  display: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  box-shadow: 0 3px 10px 0px #9b9b9b;
  color: black;
  position: fixed;
  padding: 5px 0;
  min-width: 72px;
}
#contextMenu div {
  cursor: pointer;
  padding: 5px 10px;
}
.contextMenu-delete {
  color: red;
}
#contextMenu div:hover {
  color: #2468f2;
}
.empty {
  text-align: center;
  margin-top: 50px;
}
.empty svg {
  width: 100px;
}
.empty-word {
  text-align: center;
  color: #8a8a8a;
}

.search-box {
  height: 26px;
  margin: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #bcbcbc;
  display: flex;
  align-items: center;
  padding-right: 8px;
  color: #595959;
}
.search-box:hover {
  border-color: #2468f2;
}
#searchBox {
  border: none;
  outline: none;
  padding: 0 8px;
  flex: 1;
  background-color: transparent;
}
.search-box svg {
  cursor: pointer;
}
